.cinco{
    height: 100vh;
}

.loc{
    width: 100%;
    padding: 100px 0px;
}

.title-loc h2{
    color: white;
    font-size: 75px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.caixa-loc{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.caixa-loc h3{
    color: white;
}

.info-map{
    display: inline-block;
    padding: 0 3rem 2rem 3rem;
}